<template>
  <div class="content limited m-t-7 m-b-7">
    <div class="component md">
      <h1>The GitLab logo</h1>
      <p>The GitLab logo consists of two components, the icon (the tanuki) and the wordmark:</p>
      <img 
        src="~/assets/images/brand/gitlab-lockup.png" alt="GitLab logo lockup" 
        width="600px"
      />
      <p>GitLab is most commonly represented by the logo, and in some cases, the icon alone. GitLab is rarely represented by the wordmark alone as we'd like to build brand recognition of the icon alone (e.g. the Nike swoosh), and doing so by pairing it with the GitLab wordmark.</p>
      <h2>Logo safe space</h2>
      <p>Safe space acts as a buffer between the logo or icon and other visual components, including text. this space is the minimum distance needed and is equal to the x-height of the GitLab wordmark:</p>
      <img 
        src="~/assets/images/brand/x-height.png" alt="GitLab logo x-height" 
        width="600px"
      />
      <img 
        src="~/assets/images/brand/logo-safe-space.png" alt="GitLab logo safe space" 
        width="600px"
      />
      <img 
        src="~/assets/images/brand/icon-safe-space.png" alt="GitLab logo icon safe space" 
        width="278px"
      />
      <p>The x-height also determines the proper spacing between icon and workdmark, as well as, the correct scale of the icon relative to the wordmark:</p>
      <img 
        src="~/assets/images/brand/stacked-logo-safe-space.png" alt="stacked GitLab logo safe space" 
        width="278px"
      />
      <h2>The Tanuki</h2>
      <p>The <a href="https://en.wikipedia.org/wiki/Japanese_raccoon_dog" target="_blank">tanuki</a> is a very smart animal that works together in a group to achieve a common goal. We feel this symbolism embodies GitLab's <a href="https://about.gitlab.com/company/strategy/#mission" target="_blank">mission</a> that everyone can contribute, our <a href="https://about.gitlab.com/handbook/values/" target="_blank">values</a>, and our <a href="https://about.gitlab.com/company/stewardship/" target="_blank">open source stewardship</a>.</p>
      <h2>GitLab trademarks &amp; logo guidelines</h2>
      <p>GitLab is a registered trademark of GitLab, Inc. You are welcome to use the GitLab trademark and logo, subject to the terms of the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution Non-Commercial ShareAlike 4.0 International License</a>. The most current version of the GitLab logo can be found on our <a href="https://about.gitlab.com/press/" target="_blank">Press page</a>.</p>
      <p>Under the Creative Commons license, you may use the GitLab trademark and logo so long as you give attribution to GitLab and provide a link to the license. If you make any changes to the logo, you must state so, along with the attribution, and distribute under the same license.</p>
      <p>Your use of the GitLab trademark and logo:</p>
      <ul>
        <li>May not be for commercial purposes;</li>
        <li>May not suggest or imply that you or your use of the GitLab trademark or logo is endorsed by GitLab, or create confusion as to whether or not you or your use of the GitLab trademark or logo is endorsed by GitLab; and</li>
        <li>May not suggest or imply or that you are affiliated with GitLab in any way, or create confusion as to whether or not you are affiliated with GitLab in any way.</li>
      </ul>
      <p>Examples of improper use of the GitLab trademark and logo:</p>
      <ul>
        <li>The GitLab name may not be used in any root URL, including subdomains such as <code>gitlab.company.com</code> or <code>gitlab.citool.io</code>.</li>
        <li>The GitLab trademark and/or logo may not be used as the primary or prominent feature on any non-GitLab materials.</li>
      </ul>
      <h2>Using other logos</h2>
      <p>Logos used on the about.gitlab.com site should always be in full color and be used to the specifications provided by the owner of that logo, which can usually be found on the owners website. The trust marks component found throughout the site is the only exception and should use a neutral tone:</p>
      <img 
        src="~/assets/images/brand/trust-marks.png" alt="other logos" 
        width="800px"
      />
      <p>The tanuki logo should also not have facial features (eyes, ears, nose…), it is meant to be kept neutral, but it can be accessorized.</p>
    </div>
  </div>
</template>
